<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">My First Blog</a></h1>
    </div>
    <hr>
    <div>
        <p>Published: 04.08.2019, 17:15</p>
        <h2><a href="">İlk Postum</a></h2>
        <p>Django is awesome!</p>
    </div>
    <hr>
    <div>
        <p>Published: 04.08.2019, 17:30</p>
        <h2><a href="">İkinci Postum</a></h2>
        <p>I will become a perfect full-stack developer.</p>
    </div>
</body>
</html>